<template>
  <div>
    <div v-if="username">
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#" class="col-md-9">Welcome to the ParkX app</b-navbar-brand>
        <b-navbar-brand href="#" class="col-md-3"> Welcome <u>{{username}}</u>, credits : <u>{{credit.toFixed(2)}}</u> </b-navbar-brand>
      </b-navbar>
    </div>
    <router-view @refresh="getUserInfo"></router-view>
    <b-toast v-if="booking_id" :visible="show_snackbar" title="Booking Ending!" no-auto-hide no-close-button>
      <p>Booking with id {{booking_id}} is about to End!</p>
      <b-form-input v-model="hours" placeholder="Enter hours" type="number" min="0"/>
      <b-button @click="extendBooking" class="mt-2 ml-0 mr-0">Extend</b-button>
      <a class="closeBtn" @click.prevent="toggleToast">x</a>
    </b-toast>
  </div>
</template>


<script>
import { Socket } from 'phoenix-socket';
import axios from 'axios';
const baseUrl = process.env.VUE_APP_PHOENIX_URL || 'http://127.0.0.1:4000/api';
export default {
  data() {
    return {
      show_snackbar: false,
      booking_id: null,
      hours: null,
      credit: null,
      username: null
    };
  },
  async mounted() {
    const jwt = !!window.localStorage.getItem('token-jwt');
    if (jwt) {
      let socket = new Socket('ws://127.0.0.1:4000/socket');
      socket.connect();
      var channel = socket.channel('links', {});
      channel
        .join()
        .receive('ok', resp => {
          console.log('Joined successfully', resp);
        })
        .receive('error', resp => {
          console.error('Unable to join', resp);
        });
      channel.on('requests', payload => {
        const userId = window.localStorage.getItem('user-id');
        if (payload.user_id === parseInt(userId, 10)) {
          console.log(payload);
          this.booking_id = payload.booking_id
          this.show_snackbar = true
        }
      });
    }
    this.getUserInfo();
  },
  methods: {
    // formatCred(v) {
    //   return v.toFixed(2)
    // },
    async extendBooking() {
      try {
        await axios.post(`${baseUrl}/hourbookingextend`, {
          hours: this.hours,
          booking_id: this.booking_id
          },
          {
            headers: {
              Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
            }
          });
        this.show_snackbar = false;
        this.hours = ''
        this.$router.push({ path: '/mybooking' });
        this.$router.go();
        this.$toasted.success('Booking extended Successfully', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        });
      } catch (e) {
        this.show_snackbar = false;
        this.$toasted.error('Error extending booking, user credit not enough or multiple booking exists', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        });
      }
    },
    toggleToast() {
      this.show_snackbar = false;
    },
    async getUserInfo() {
      if(window.localStorage.getItem('token-jwt')) {
        try {
          const response = await axios.get(`${baseUrl}/getuser`,
                { headers: {
                Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
                } });
          this.credit = response.data.credit
          this.username = response.data.username
          console.log(response)
        } catch(e) {
          console.log('failed to load the current user')
          this.credit = null
          this.username = null
        }
      } else {
        this.credit = null
        this.username = null
      }
    }
  }
};
</script>

<style>
  .closeBtn {
    position: absolute;
    top: 0;
    right: 12px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
  }
</style>
