<template>
  <div>
    <div>
      <h2>Tartu Available Parkings</h2>
      <br />
    </div>
    <br />
    <gmap-map :center="center" :zoom="12" style="width:100%;  height: 400px;">
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="toggleInfoWindow(index)"
      ></gmap-marker>
      <gmap-info-window
        :options="infoOptions"
        :position="infoWindowPos"
        :opened="infoWinOpen"
        @closeclick="infoWinOpen = false"
      >
        <div v-html="infoContent"></div>
      </gmap-info-window>
    </gmap-map>
  </div>
</template>

<script>
export default {
  name: 'GoogleMap',
  props: ['mapData'],
  watch: {
    mapData: function() {
      this.infoWinOpen = false;
    }
  },
  data() {
    return {
      center: { lat: 58.38, lng: 26.73 },
      markers: [],
      infoContent: '',
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      places: []
    };
  },

  mounted() {
    this.geolocate();
    this.addMarker();
  },

  methods: {
    addMarker() {
      this.mapData.forEach(
        function(ele, index) {
          this.markers.push({ position: ele });
        }.bind(this)
      );
      this.places.push('djsk');
      this.center = this.mapData[0];
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    },
    toggleInfoWindow: function(idx) {
      const marker = this.mapData[idx];
      this.infoWindowPos = marker;
      this.infoContent = this.getInfoWindowContent(marker);
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      } else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },
    getInfoWindowContent: function(marker) {
    if (marker.RealTimeCharge === undefined || marker.HourlyCharge === undefined) {
    marker.RealTimeCharge = 'NA'
    marker.HourlyCharge = 'NA'
    }
      return `<div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <h6>Estimated Cost:</h6>
                </div>
              </div>
              <div class="content">
                              <p>Parking Spot: ${marker.Parking_spot}</p>
                            </div>
              <div class="content">
                <p>Real Time Cost: ${marker.RealTimeCharge}</p>
              </div>
              <div class="content">
              <p>Hourly Cost: ${marker.HourlyCharge}</p>
                            </div>
            </div>
          </div>`;
    }
  }
};
</script>
