<template>
  <div class="wrapper">

      <b-container>
		  		<h1 font-color="red">Login</h1>
				<b-form @submit.prevent="login" @reset.prevent="onReset">

					<b-form-group id="input-group-1" label="Your Name:" label-for="input-1">
						<b-form-input
							id="input-1"
							v-model="username"
							required
							placeholder="Enter name"
						></b-form-input>
					</b-form-group>

					<b-form-group id="input-group-2" label="password:" label-for="input-2">
						<b-form-input
							id="input-2"
							type="password"
							v-model="password"
							required
							placeholder="Enter name"
						></b-form-input>
					</b-form-group>


					<b-button type="submit" variant="primary">Submit</b-button>
					<b-button type="reset" variant="danger">Reset</b-button>

				</b-form>
				<b-link to="/register" @click.prevent="register">Please Register Yourself!</b-link>
      </b-container>
  </div>
</template>
<script>
import auth from './auth';

export default {
    data: function () {
        return {
            username: '',
            password: ''
        }
    },
    methods: {
        login: function() {
            auth.login(this, { username: this.username, password: this.password }, '/searchParking');
				},
				onReset() {
					this.username = ''
					this.password = ''
				}
    }
}
</script>

<style scoped>
.wrapper {
	position: relative;
	min-height: 100vh;
	padding: 20px;
}
.wrapper > .container {
	position: absolute;
	width: 100%;
	max-width: 400px;
	height: max-content;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 50px 40px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
</style>
