<template>
	<div class="wrapper">
		<b-container>
			<div class="row">
				<div class="col-md-7">
					<h1 font-color="red">My Booking List</h1>
				</div>
				<div class="col-md-3">
            <router-link :to="`/searchparking`"><strong>Search a Parking spot </strong></router-link>
          </div>
				<div class="col-md-2 ">
					<b-link
						to="/login"
						class="btn btn-danger auth-btn"
						@click.prevent="logout"
						>Log Out</b-link
					>
				</div>
      </div>
			<b-table :items="items" :fields="fields">
					<template v-slot:cell(index)="data">
						{{ data.index + 1 }}
					</template>
					<template v-slot:cell(action)="data">
						<b-button @click.prevent="endBooking(data.index)" :disabled="!isOngoing(data.index)" variant="info">
							End
						</b-button>
					</template>
				</b-table>
		</b-container>
	</div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import auth from './auth';
const baseUrl = process.env.VUE_APP_PHOENIX_URL || 'http://127.0.0.1:4000/api';
export default {
		name: 'mybooking',
		data() {
			return {
				items: [],
				fields: ['index', { key: 'dest_name', label: 'Parking Spot' }, { key: 'start_time', sortable: true },
				 'end_time', { key: 'charge', label: 'Charge (€)' }, 'payment_status', { key: 'status', label: 'Booking status' },
				 { key: 'type', label: 'Booking type' }, 'action' ]
			}
		},
		mounted() {
			this.$emit('refresh');
		},
		async created() {
			try {
							const response = await axios.get(`${baseUrl}/mybookings`,
							{ headers: {
							Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
							} });
							let { data } = response;
							data.map(item => {
								item.start_time = moment.utc(item.start_time).format('YYYY-MM-DD, LT');
								if(item.end_time) {
									item.end_time = moment.utc(item.end_time).format('YYYY-MM-DD, LT');
								} else {
									item.end_time = ''
								}
								return item;
							});
							console.log(data)
							this.items = data
					} catch (e) {
							this.$toasted.error('Some error occured while loading your booking', {
								theme: 'bubble',
								position: 'top-right',
								duration: 5000
							});
					}
		},

		computed: {
			isOngoing() {
				return index => {
					const { items } = this;
					if (items[index] && items[index].status === 'ongoing' && items[index].type === 'realtime') return true;
					return false;
				}
			}
		},
		methods: {
			async updater() {
				try {
							const response = await axios.get(`${baseUrl}/mybookings`,
							{ headers: {
							Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
							} });
							let { data } = response;
							console.log(data)
							data.map(item => {
								item.start_time = moment.utc(item.start_time).format('YYYY-MM-DD, LT');
								if(item.end_time) {
									item.end_time = moment.utc(item.end_time).format('YYYY-MM-DD, LT');
								} else {
									item.end_time = ''
								}
								return item;
							});
							// console.log(data)
							this.items = data
					} catch (e) {
							this.$toasted.error('Some error occured while loading your booking', {
								theme: 'bubble',
								position: 'top-right',
								duration: 5000
							});
					}
			},
			async endBooking(index) {
				const { items } = this;
				console.log(items[index].parking_id, items[index].id);
				if(items[index].type === 'realtime') {
					await this.bookRealEnd(items[index].parking_id, items[index].id)
					await this.updater()
				} else {
					await this.bookHourEnd(items[index].parking_id, items[index].id, items[index].user_id)
					await this.updater()
				}
			},
			async bookRealEnd(a1, a2) {
				try {
								const response = await axios.post(`${baseUrl}/realtimebookingend`,
								{ parking_id: '' + a1, booking_id: '' + a2 },
								{ headers: {
								Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
								} });
								console.log(response.data.status)
								if(response.data.status === 'Realtime Booking ended successfully.') {
									this.$toasted.success('Real Time Booking ended successfully', {
										theme: 'bubble',
										position: 'top-right',
										duration: 5000
									});
								}
								this.$router.go()
            } catch (e) {
								if(e.response.data.status === 'Failed to end Real time booking.') {
								this.$toasted.error('Database transaction failed', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							} else if(e.response.data.status === 'The Booking has already been closed') {
								this.$toasted.error('The Booking has already been closed', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							} else {
								this.$toasted.error('Unknown error', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							}
            }
			},
			async bookHourEnd(a1, a2, a3) {
				try {
								const response = await axios.post(`${baseUrl}/hourbookingend`,
								{ parking_id: '' + a1, booking_id: '' + a2, user_id: '' + a3 },
								{ headers: {
								Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
								} });
								console.log(response.data.status)
								if(response.data.status === 'Hourly Booking ended successfully.') {
									this.$toasted.success('Hourly Booking ended successfully before booked time, extra cost refunded', {
										theme: 'bubble',
										position: 'top-right',
										duration: 5000
									});
								}
            } catch (e) {
								this.$toasted.error('Unknown error', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
                });
            }
			},
			logout: function() {
	  auth.logout(this, { headers: auth.getAuthHeader() });
	  this.$router.go()
	  this.$emit('refresh');
    }
		}
}
</script>

<style scoped>
.wrapper {
  position: relative;
  min-height: 100vh;
  padding: 20px;
}
.wrapper > .container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: max-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tselector {
  width: 20%;
}
.customInfobox {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  pointer-events: auto !important;
}

.auth-btn {
  margin-top: 10px;
  float: right;
}
</style>
