<template>
  <div class="wrapper">
      <b-container>
				<b-form @submit.prevent="register" @reset.prevent="onReset">
					<h1 font-color="red">Register</h1>
					<b-form-group id="input-group-1" label="Name:" label-for="input-1">
						<b-form-input
							id="input-1"
							type="text"
							v-model="user.name"
							required
							placeholder="Enter name"
						></b-form-input>
					</b-form-group>

          <b-form-group id="input-group-2" label="User Name:" label-for="input-2">
						<b-form-input
							id="input-2"
              type="text"
							v-model="user.username"
							required
							placeholder="Enter username"
						></b-form-input>
					</b-form-group>

					<b-form-group id="input-group-3" label="Password:" label-for="input-3">
						<b-form-input
							id="input-3"
							type="password"
							v-model="user.hashed_password"
							required
							placeholder="Enter Password"
						></b-form-input>
					</b-form-group>

          <b-form-group id="input-group-4" label="Email:" label-for="input-4">
						<b-form-input
							id="input-4"
              type="email"
							v-model="user.email"
							required
							placeholder="Enter Email"
						></b-form-input>
					</b-form-group>

					<b-form-group id="input-group-5" label="Credits:" label-for="input-5">
						<b-form-input
							id="input-5"
              readonly="readonly"
							v-model="user.credit"
							required
							placeholder="Enter Credit"
						></b-form-input>
					</b-form-group>

					<b-form-group id="input-group-6">
						<b-form-checkbox
						v-model="user.monthly_selected"
						id="checkboxes-6"
						value="true"
						unchecked-value="false"
						>
							Monthly Plan
						</b-form-checkbox>

					</b-form-group>


					<b-button type="submit" variant="primary">Submit</b-button>
					<b-button type="reset" variant="danger">Reset</b-button>
				</b-form>
      </b-container>
  </div>
</template>

<script>
import axios from 'axios';
const baseUrl = process.env.VUE_APP_PHOENIX_URL || 'http://127.0.0.1:4000/api';
export default {
    data() {
        return {
            user: {
                name: '',
                username: '',
                email: '',
                hashed_password: '',
                credit: 100,
                monthly_selected: ''
            }
        }
    },
    methods: {
        async register() {
            try {
                const response = await axios.post(`${baseUrl}/users`, { user: this.user });
								console.log(response.config.data);
								this.$router.push({ name: 'home' })
								this.$toasted.success('Registered Successfully', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
                });
            } catch (e) {
				this.$toasted.error('User Name already Exists, Please try again', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
                });
            }
        },
        onReset() {
			this.user.name = ''
            this.user.username = ''
            this.user.email = ''
            this.user.hashed_password = ''
            this.user.credit = 100
            this.user.monthly_selected = ''
        }
    }
}
</script>

<style scoped>
.wrapper {
	position: relative;
	min-height: 100vh;
	padding: 20px;
}
.wrapper > .container {
	position: relative;
	width: 100%;
	max-width: 400px;
	height: max-content;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
</style>
