<template>
  <div class="wrapper">
    <b-container>
      <b-form @submit.prevent="search">
        <div class="row">
          <div class="col-md-8">
            <h1 font-color="red">Search Parking Place</h1>
          </div>
          <div class="col-md-2">
            <router-link :to="`/mybooking`"><strong>My Bookings </strong></router-link>
          </div>
          <div class="col-md-2 ">
            <b-link
              to="/login"
              class="btn btn-danger auth-btn"
              @click.prevent="logout"
              >Log Out</b-link
            >
          </div>
        </div>
        <b-row>
					<b-col> <b-form-radio v-model="radioSelected" name="Use Live Location" value="A">Use Live Location</b-form-radio> </b-col>
					<b-col> <b-form-radio v-model="radioSelected" name="Enter Destination" value="B">Enter Destination manually</b-form-radio> </b-col>
				</b-row>
        <div v-if="radioSelected === 'A'">
          <b-button @click="getCoord" variant="outline-primary">Use My location</b-button>
          <div v-if="destination">
            <br>
            <strong> Your location data is " {{ destination }} " </strong>
            <br>
          </div>
        </div>
        <b-form-group
          id="input-group-1"
          label="Enter Destination:"
          label-for="input-1"
          v-if="radioSelected === 'B'"
        >
          <b-form-input
            id="input-1"
            type="text"
            v-model="destination"
            required
            placeholder="Enter Destination"
          ></b-form-input>
        </b-form-group>
        <div class="row">
          <div class="col-md-6">
            <b-form-group
              id="input-group -1"
              label="Enter EndTime To See Cost Estimation:"
              label-for="input-1"
            >
              <timeselector
                :required="true"
                class="tselector"
                v-model="endTime"
              ></timeselector>
            </b-form-group>
          </div>
        </div>
        <b-button type="submit" variant="primary">Search</b-button>
      </b-form>

      <b-table :items="items" :fields="getTableFields">
        <template v-slot:cell(HourRate)="data">
						{{ getHourPrice(data.index) }}
        </template>
        <template v-slot:cell(RealTimeRate)="data">
						{{ getRealPrice(data.index) }}
        </template>
        <template v-slot:cell(Parking_spot)="data">
          <router-link :to="`/showParking/${items[data.index].id}?p=${items[data.index].Parking_spot}&lat=${items[data.index].lat}&lng=${items[data.index].lng}&z=${items[data.index].zone}`">
            {{ data.value }}
          </router-link>
        </template>
      </b-table>
      <div v-if="items.length <= 0">
        <p>No Parking Data found</p>
      </div>
      <div v-if="mapData.length > 0">
        <google-map :map-data="mapData" v-if="renderComponent" />
      </div>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';
import Timeselector from 'vue-timeselector';
import GoogleMap from './GoogleMap';
import auth from './auth';
const baseUrl = process.env.VUE_APP_PHOENIX_URL || 'http://127.0.0.1:4000/api';
export default {
  components: { Timeselector, GoogleMap },
  name: 'SearchParking',
  data() {
    return {
      layerVisible: true,
      renderComponent: true,
      mapOptions: {
        zoom: 4
      },
      destination: '',
      endTime: '',
      fields: ['Parking_spot', 'zone', 'HourRate', 'RealTimeRate', { key: 'HourlyCharge', label: 'Estimated Hourly Charge' }, { key: 'RealTimeCharge', label: 'Estimated RealTime Charge' }],
      fields2: ['Parking_spot', 'zone', 'HourRate', 'RealTimeRate'],
      items: [],
      mapData: [],
      showAll: false,
      isGeoUsed: false,
      errorStr: '',
      location: null,
      radioSelected: ''
    };
  },
  mounted() {
    this.$emit('refresh');
  },
  computed: {
    getTableFields() {
      const { items, showAll, fields, fields2 } = this;
      if (items && items.length <= 0) {
        return fields2;
      } else if (items.length > 0 && !showAll) {
        return fields2;
      } else {
        return fields;
      }
    }
  },
  watch: {
    radioSelected: function() {
      this.destination = ''
    }
  },
  methods: {
    getHourPrice(i) {
      if(this.items[i]['zone'] === 'A') {
        return '2 € per hour'
      } else {
        return '1 € per hour'
      }
    },
    getRealPrice(i) {
      if(this.items[i]['zone'] === 'A') {
        return '0.16 € per 5 min'
      } else {
        return '0.08 € per 5 min'
      }
    },
    async getLocation() {
      return new Promise((resolve, reject) => {
        if(!('geolocation' in navigator)) {
          reject(new Error('Geolocation is not available.'));
        }
        navigator.geolocation.getCurrentPosition(pos => {
          resolve(pos);
        }, err => {
          reject(err);
        });
      });
    },
    async getCoord() {
      this.isGeoUsed = true
      try {
        this.location = await this.getLocation()
        try {
          const {
            data
          } = await axios.get(`${baseUrl}/getdest`, {
            params: { lat: this.location.coords.latitude, lng: this.location.coords.longitude }
          });
          this.destination = data.destination
        } catch(e) {
          this.errorStr = e.response.data.status
        }
      } catch(e) {
        this.isGeoUsed = false
        this.errorStr = e.message
      }
    },
    forceRerender() {
        // Remove my-component from the DOM
        this.renderComponent = false;

        this.$nextTick(() => {
          // Add the component back in
          this.renderComponent = true;
        });
      },
    async search() {
      try {
        const {
          data
        } = await axios.get(`${baseUrl}/searchparking`, {
          params: { destination: this.destination, endTime: this.endTime },
          headers: {
            Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
          }
        });
        console.log(data)
        console.log(data.status)

        if(data.status !== 'ok') {
        this.$toasted.error('Please enter valid end time', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
                });
        this.renderComponent = false;
                }else{
                  this.forceRerender()
                }
        if (this.endTime !== '') {
          this.showAll = true;
        } else {
          this.showAll = false;
        }
        this.mapData = data.tabledata;
        this.items = data.tabledata;
        console.log(this.items);
      } catch (e) {
        console.log(e);
        this.renderComponent = false;
        this.$toasted.error('Invalid Address Entered', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
      }
    },
    logout: function() {
      auth.logout(this, { headers: auth.getAuthHeader() });
      this.$emit('refresh');
    }
  }
};
</script>

<style scoped>
.wrapper {
  position: relative;
  min-height: 100vh;
  padding: 20px;
}
.wrapper > .container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: max-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tselector {
  width: 20%;
}
.customInfobox {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  pointer-events: auto !important;
}

.auth-btn {
  margin-top: 10px;
  float: right;
}
</style>
