<template>
  <div class="wrapper">
		<b-container class="bv-example-row">
			<div class="row">
				<div class="col-md-8">
					<h1 font-color="red">Book this parking spot</h1>
				</div>
				<div class="col-md-2">
					<router-link :to="`/mybooking`"><strong>My Bookings </strong></router-link>
				</div>
				<div class="col-md-2">
					<b-link
						to="/login"
						class="btn btn-danger auth-btn"
						@click.prevent="logout"
						>Log Out</b-link
					>
				</div>
      </div>
			<b-row>
				<b-col class="test1"><b>Parking Spot:</b></b-col>
				<b-col class="test1">{{ spot }}</b-col>
			</b-row>
			<b-row>
				<b-col class="test1"><b>Zone:</b></b-col>
				<b-col class="test1">{{ zone }}</b-col>
			</b-row>
			<b-row>
				<b-col class="test1"><b>Lattitude:</b></b-col>
				<b-col class="test1">{{ lat }}</b-col>
			</b-row>
			<b-row>
				<b-col class="test1"><b>Longitude:</b></b-col>
				<b-col class="test1">{{ lng }}</b-col>
			</b-row>
			<br>
			<b-form-group label="Inline radios (default)">
				<b-row>
					<b-col> <b-form-radio v-model="radioSelected" name="hourly-booking" value="A">Hourly Booking</b-form-radio> </b-col>
					<b-col> <b-form-radio v-model="radioSelected" name="realtime-booking" value="B">Real-Time Booking</b-form-radio> </b-col>
				</b-row>
			</b-form-group>

			<div v-if="radioSelected === 'A'">
				<b-form @submit.prevent="bookHourly">
					<b-form-group
						id="input-group-1"
						label="Enter number of Hours:"
						label-for="input-1"
					>
						<b-form-input
							id="input-1"
							type="number"
							min="1" max="12"
							v-model.number="hours"
							required
							placeholder="Book parking space for"
						></b-form-input>
					</b-form-group>
					<b-button type="submit" variant="primary">Make Booking</b-button>
				</b-form>
			</div>

			<div v-if="radioSelected === 'B'">
				<div class="test2">
					<h4 align="center" > Make Real Time Booking </h4>
				</div>
				<br>
				<b-row>
					<b-col></b-col>
					<b-col>
						<b-form @submit.prevent="bookReal">
							<b-button v-bind:disabled="realBookStarted" type="submit" variant="primary">Start Booking</b-button>
						</b-form>
					</b-col>
					<b-col>
						<b-form @submit.prevent="bookRealEnd">
							<b-button v-bind:disabled="!realBookStarted" type="submit" variant="primary">End Booking</b-button>
						</b-form>
					</b-col>
				</b-row>
			</div>

		</b-container>



	</div>
</template>

<script>
import axios from 'axios';
import auth from './auth';
const baseUrl = process.env.VUE_APP_PHOENIX_URL || 'http://127.0.0.1:4000/api';
export default {
    data() {
        return {
						radioSelected: '',
						realBookStarted: false,
						hours: 0,
						spot: '',
						zone: '',
						lat: '',
						lng: '',
						b_id: '',
						p_id: ''
        }
		},
		name: 'showparking',
		methods: {
			async bookHourly() {
				try {
								const response = await axios.post(`${baseUrl}/hourlybooking`,
								{ hours: +this.hours, parking_id: this.p_id, zone: this.zone },
								{ headers: {
								Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
								} });
								console.log(response.data.status)
								this.$router.push({ name: 'mybooking' })
								this.$toasted.success('Booking Made Successfully', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
                });
            } catch (e) {
								console.log(e.response.data.status)
								if(e.response.data.status === 'Not Enough Credit Please reload credit') {
									this.$toasted.error('Not Enough Credit to make this booking. Please reload credit', {
										theme: 'bubble',
										position: 'top-right',
										duration: 5000
									});
								} else if(e.response.data.status === 'You already have an ongoing booking for this spot') {
									this.$toasted.error('You already have an ongoing booking for this spot', {
										theme: 'bubble',
										position: 'top-right',
										duration: 5000
									});
								} else {
									this.$toasted.error('Unknown error', {
										theme: 'bubble',
										position: 'top-right',
										duration: 5000
									});
								}
            }
			},

			async bookReal() {
				try {
								const response = await axios.post(`${baseUrl}/realtimebooking`,
								{ parking_id: this.p_id },
								{ headers: {
								Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
								} });
								console.log(response.data.status)
								if(response.data.status === 'Booking started successfully.') {
									this.realBookStarted = true
									this.b_id = response.data.booking_id
									this.$toasted.success('Real Time Booking started successfully', {
										theme: 'bubble',
										position: 'top-right',
										duration: 5000
									});
								}
            } catch (e) {
							console.log(e.response.data.status)
							if(e.response.data.status === 'Your balance is below 10 credit. Please Recharge to make booking.') {
								this.$toasted.error('Your balance is below 10 credit. Please Recharge to make booking.', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							} else if(e.response.data.status === 'You already have an ongoing booking for this spot') {
								this.$toasted.error('You already have an ongoing booking for this spot', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							} else {
								this.$toasted.error('Unknown error', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							}
            }
			},

			async bookRealEnd() {
				try {
								const response = await axios.post(`${baseUrl}/realtimebookingend`,
								{ parking_id: this.p_id, booking_id: '' + this.b_id },
								{ headers: {
								Authorization: 'Bearer ' + window.localStorage.getItem('token-jwt')
								} });
								console.log(response.data.status)
								if(response.data.status === 'Realtime Booking ended successfully.') {
									this.realBookStarted = false
									this.b_id = ''
									this.$toasted.success('Real Time Booking ended successfully', {
										theme: 'bubble',
										position: 'top-right',
										duration: 5000
									});
								}
								this.$router.go()
            } catch (e) {
							if(e.response.data.status === 'Failed to end Real time booking.') {
								this.$toasted.error('Database transaction failed', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							} else if(e.response.data.status === 'The Booking has already been closed') {
								this.$toasted.error('The Booking has already been closed', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							} else {
								this.$toasted.error('Unknown error', {
									theme: 'bubble',
									position: 'top-right',
									duration: 5000
								});
							}
            }
			},
			logout: function() {
				auth.logout(this, { headers: auth.getAuthHeader() });
				this.$router.go()
				this.$emit('refresh');
			}
		},
    async created() {
			this.spot = this.$route.query.p
			this.zone = this.$route.query.z
			this.lat = this.$route.query.lat
			this.lng = this.$route.query.lng
			this.p_id = this.$route.params.id
        // call axios with jwt and get user info
    }
}
</script>

<style scoped>
.wrapper {
  position: relative;
  min-height: 100vh;
  padding: 20px;
}
.wrapper > .container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: max-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tselector {
  width: 20%;
}
.customInfobox {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  pointer-events: auto !important;
}

.auth-btn {
  margin-top: 10px;
  float: right;
}

.test1 {
		border-style: solid;
		border-color: lightblue;
		padding: 20px 40px;
	}
	.test2 {
		padding-left: 140px;
	}
</style>
